<form
	change:form="beanClass documentcard_persistentdocument_documentcard">
	<ul change:errors=""></ul>
	<input change:field="name beanId" hidden="true" />
	<ol>
		<li class="first"><input change:field="name label" /></li>
		<li><input change:documentPicker="name file" /></li>
		<li><input change:field="name comment" /></li>
		<li class="last"><input change:documentPicker="name image" /></li>
	</ol>
	
	<p>
		<input change:submit="" name="${submitAction}" value="Enregistrer" class="button" />
		<a tal:condition="edit_from_url" class="button" href="${edit_from_url}" onclick="${cancel_confirm}">Annuler</a>
	</p>
</form>